.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache
.mypy_cache

.venv
venv

.vscode
.idea

.DS_Store

data/
storage/
media/
downloads/
.cache/

htmlcov/
.coverage
.pytest_cache/

node_modules/

.env
