export OWNER_USER_ID=

# Bot
export BOT_NAME=music-tool-bot
export BOT_USERNAME=music-tool-bot

# Telegram
export BOT_TOKEN=

# Database
export DB_HOST=localhost
export DB_PORT=3306
export DB_USERNAME=
export DB_PASSWORD=
export DB_NAME=
