[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "pm2 start --name music-tool-bot bot.py --time --interpreter python"
restart = "pm2 restart music-tool-bot"
stop = "pm2 stop music-tool-bot"
"db:migrate" = "orator migrate -c dbconfig.py"
"db:rollback" = "orator migrate:rollback -c dbconfig.py"
"db:refresh" = "orator migrate:refresh -c dbconfig.py"
"db:status" = "orator migrate:refresh -c dbconfig.py"
"db:seed" = "orator db:seed -c dbconfig.py --seeder owner_seeder"
test = "echo 'Not Implemented Yet'"
t = "pipenv run test"

[packages]
python-telegram-bot = "~=13.15"
music-tag = "~=0.4.3"
python-dotenv = "~=0.21.1"
orator = "~=0.9.9"
psutil = "~=5.9.4"
persiantools = "~=3.0.1"
mysqlclient = "~=2.1.1"

[dev-packages]
pylint = "~=2.16.1"
autopep8 = "~=2.0.1"
